# Lesson 2: Pandas Data Inspection & Cleaning

In this lesson, we explore how to inspect, understand, and clean real-world datasets
using Pandas. We will work with a large job listings dataset and learn techniques
commonly used during exploratory data analysis (EDA).

## Lesson Objectives

By the end of this lesson, you will be able to:

- Inspect rows, columns, and data types
- Understand how Pandas represents missing data
- Filter rows using logical conditions
- Convert date columns into datetime format
- Prepare a dataset for analysis

## Loading the Dataset

The dataset used in this repository contains job postings related to
data-focused roles. It includes information such as job titles, locations,
skills, salaries, and posting dates.

Working with imperfect, real-world data like this is essential for developing
practical data analytics skills.

In [37]:
import pandas as pd

df = pd.read_csv(r"C:\Users\divij\OneDrive\Desktop\StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Dataset Size

Understanding the size of a dataset helps set expectations about complexity
and performance before deeper analysis begins.

In [38]:
df.shape
len(df)

1000

## Understanding the Structure of the Data

The `info()` method provides a high-level overview of the dataset, including:

- Column names
- Data types
- Number of non-null values
- Memory usage

This step helps quickly identify missing values and columns that may need
type conversion.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Missing Values in Real Job Data

In job market datasets, missing values are common.
For example:
- Salary information may not be disclosed
- Skills may be optional
- Some fields depend on employer input

Pandas represents missing values using `NaN`, which must be handled carefully
during analysis.

In [40]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Filtering Rows with Salary Information

To analyse compensation trends, rows without salary data must be excluded.

In [41]:
df[df['test preparation course'].notna()]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In some cases, multiple columns are required to be present.
For example, analysing salaries alongside required skills.

In [42]:
# Filter rows where 'test preparation course', 'math score', and 'reading score' are not missing
df[df[['test preparation course', 'math score', 'reading score']].notna().all(axis=1)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

### What does `.all(axis=1)` mean?

- `notna()` converts values into True/False
- `axis=1` tells Pandas to check **row by row**
- `.all()` keeps a row only if **all selected columns contain data**

This ensures that no incomplete rows are used in analysis.

## Filtering High-Scoring Students

Filtering allows focused analysis on specific subsets of data.
Here, I filter students with a math score above a chosen threshold.

In [43]:
df[df['math score'] > 90]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
34,male,group E,some college,standard,none,97,87,82
104,male,group C,some college,standard,completed,98,86,90
114,female,group E,bachelor's degree,standard,completed,99,100,100
121,male,group B,associate's degree,standard,completed,91,89,92
149,male,group E,associate's degree,free/reduced,completed,100,100,93
165,female,group C,bachelor's degree,standard,completed,96,100,100
171,male,group E,some high school,standard,none,94,88,78
179,female,group D,some high school,standard,completed,97,100,100
233,male,group E,some high school,standard,none,92,87,78
263,female,group E,high school,standard,none,99,93,90
286,male,group E,associate's degree,standard,completed,97,82,88
306,male,group E,some college,standard,completed,99,87,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
469,male,group C,some college,standard,none,91,74,76
501,female,group B,associate's degree,standard,completed,94,87,92
503,female,group E,associate's degree,standard,completed,95,89,92
521,female,group C,associate's degree,standard,none,91,86,84
539,male,group A,associate's degree,standard,completed,97,92,86
546,female,group A,some high school,standard,completed,92,100,97
562,male,group C,bachelor's degree,standard,completed,96,90,92
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
571,male,group A,bachelor's degree,standard,none,91,96,92
594,female,group C,bachelor's degree,standard,completed,92,100,99
612,male,group C,bachelor's degree,standard,completed,94,90,91
618,male,group D,master's degree,standard,none,95,81,84
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
685,female,group E,master's degree,standard,completed,94,99,100
689,male,group E,some college,free/reduced,none,93,90,83
710,male,group C,some college,standard,completed,93,84,90
712,female,group D,some college,standard,none,98,100,99
717,female,group C,associate's degree,standard,completed,96,96,99
719,male,group E,associate's degree,free/reduced,completed,91,73,80
736,male,group C,associate's degree,standard,none,92,79,84
779,male,group E,associate's degree,standard,completed,94,85,82
784,male,group C,bachelor's degree,standard,completed,91,81,79
815,male,group B,some high school,standard,completed,94,86,87
846,male,group C,master's degree,standard,completed,91,85,85
855,female,group B,bachelor's degree,standard,none,97,97,96
864,male,group C,associate's degree,standard,none,97,93,91
886,female,group E,associate's degree,standard,completed,93,100,95
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
919,male,group B,some college,standard,completed,91,96,91
934,male,group C,associate's degree,standard,completed,98,87,90
950,male,group E,high school,standard,none,94,73,71
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
979,female,group C,associate's degree,standard,none,91,95,94

## Sorting Data for Insight

Sorting data helps surface patterns and extremes, such as
the highest math scores in the dataset.

In [44]:
# Sort by math score in descending order
df.sort_values(by='math score', ascending=False).head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97

## Ensuring Numeric Scores

Sometimes numeric columns may be stored as strings.
To enable numerical analysis, the `math score` column
must be converted to numeric format.

In [45]:
df['math score'] = pd.to_numeric(df['math score'], errors='coerce')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Converting Exam Dates

Dates are often stored as strings.
To enable time-based analysis, the `exam_date` column
must be converted to datetime format.

In [ ]:
# assuming there is a column 'exam_date' including the date of exam 
df['exam_date'] = pd.to_datetime(df['exam_date'], errors='coerce')

## Extracting Only the Date

After conversion to datetime, extracting only the date (without time)
can simplify analysis and visualization.

In [ ]:
# Example: assume we have an 'exam_date' column
df['exam_date'] = pd.to_datetime(df['exam_date'], errors='coerce')  # convert to datetime
df['exam_date'] = df['exam_date'].dt.date  # keep only the date
df.head()

## Why This Step Matters

Cleaning and inspecting data is often the most time-consuming
part of data analytics — but also the most important.

Strong analysis is built on clean, well-understood data.

## Key Takeaways

- Real-world data is messy and incomplete
- Inspection comes before analysis
- Missing values must be handled deliberately
- `.all(axis=1)` ensures row-level completeness
- Date conversion enables time-based insights

### End of Lesson 2

In the next lesson, I will use this cleaned dataset to explore
grouping, aggregation, and trend analysis across job roles.